/*Titulo e subtitulo*/

.texto-inicial {
    margin: 2% 0 0% 3%;
}

h1 {
    margin: 0;
}

/*Quadro verde com dados*/
.resumo-financeiro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #e6f5e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    min-height: 250px;
    margin: 20px auto;
}

.item h4 {
    margin: 0;
    font-size: 20px;
    color: #1a3c1a;
}

.h4-saldo {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    gap: 8px;
}

.h4-saldo span {
    margin-left: 5px;
}

#icone-olho {
    cursor: pointer;
    margin-left: 8px;
    font-size: 20px;
}

.item p {
    margin: 4px 0 0;
    font-weight: bold;
    color: #0b3b0b;
    font-size: 20px;
}

/*Evolução financeira*/
.card {
    border-radius: 10px;
    max-width: 1400px;
    min-height: 100px;
    padding: 20px;
    margin: 0 auto;
    font-size: medium;
}

/*Distribuição das Despesas e Receitas*/
.grafico-card {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.grafico-card h5 {
    font-weight: bold;
    color: #013220;
}

/*Receitas vs Despesas e Historico de pedido*/
.grafico-card {
    width: 380px;
    min-height: 320px;
    border-radius: 10px;
}

#ReceitasvsDespesas {
    margin-top: 35px;
}

#HistoricoPeriodo {
    margin-top: 35px;
}

.porcao, .sugestao, #loading {
    margin: 2% 0 0% 3%;
    display: flex;
}

.porcao h1 
{
    font-size: 2rem;
    padding-top: 3rem;
}
#porcao
{
    width: 12rem;
}

.sugestao span
{
    font-size: 1.4rem;
}

#loading
{
    flex-direction: column;
}

#loading span
{
    font-size: 1.5rem;
    margin: auto;
    padding-top: 0.2rem;
}

#loading svg
{
    margin: auto;
}
